.navbar-custom  {

    position: fixed;
    width: 100%;
    z-index: 100;
    scroll-behavior: smooth;
    
    
}


.navbar-brand-custom {

    width: 100px;

}

.container-custom {

    top: 760px;
    background-color: #f3f3f3;
    position: relative;
    padding: 30px;
    

}

body {

    background-image: url("/front-end-1/check-point-03/img/img1.PNG");
    background-attachment: fixed;
    height: 1500px;

}

